@import url('https://fonts.googleapis.com/css?family=Mitr|Orbitron|Share+Tech|Share+Tech+Mono|Titan+One');


/* font-family: 'Share Tech', sans-serif;
font-family: 'Share Tech Mono', monospace;
font-family: 'Orbitron', sans-serif;
font-family: 'Titan One', cursive;
font-family: 'Mitr', sans-serif; */


.home-background{
  background-color: #3AAFA9;
}

.images-home{
  box-shadow: 10px 10px 5px grey;
  background-color: #e1f7d5;
  border-radius: 5px 0 5px 0;
  margin: 2%;
}
.images-home h1{
  color: aliceblue;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
}


.articles-home h2 {
  text-align: center
}

.article-tag {
  border-radius: 15px 5px 15px 5px;
  background-color: lightblue;
  width: 200px;
  height: 60px;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
  line-height: 60px; /* <-- this is what you must define */
  vertical-align: middle;
}

.all-headers {
  font-family: 'Titan One', cursive;
}

.of-less-importance-text {
  font-family: 'Share Tech', sans-serif;
  color: grey;
}
.todays_date{
  font-family: 'Share Tech', sans-serif;
  color: #fff;
}
.todays_date p {
  font-size: 10px;
}

.cat-tag {
  font-size: 12px;
  border-radius: 15px 5px 15px 5px;
  background-color: lightblue;
  width: 100px;
  height: 60px;
  text-align: center;
  box-shadow: 10px 10px 5px grey;
  line-height: 60px; /* <-- this is what you must define */
  vertical-align: middle;
}

.bluecolor{
  background-color: lightblue;
}

.ws-title{
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
}

.ws-title h1{
  font-size: 150px;
}