{% extends 'all_images/base.html' %}
{% block content %}
<div class="container">

    <div class="row">
        {% if articles %}
            <h2>Found <strong>{{ articles|length }}</strong> sources for: <strong>{{ message }}</strong></h2>
            <span class="glyphicon glyphicon-menu-down"></span>
            {% else %}
            <h2>Sorry found no articles for {{ message }}</h2>
        {% endif %}
    </div>


    <div class="row">
            {% if articles %}
            {% for article in articles %}
              <div class="col-sm-6 col-md-3">
                  <h1>{{article.title}}</h1>
                  <p>{{article.description}}</p>
              </div>
            {% endfor %}
            {% endif %}
    </div>
</div>
{% endblock %}