{% extends 'all_images/base.html' %}

{% block content %}
{{block.super}}
<div class="container home-background">
   <div class="row display-news">
       
        <h3 class="all-headers image-center">Browse images:</h3>

       <!-- Loop through news -->
       {% for item in all_images %}
       
       <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 images-home">
           <h1 class="cardHeader">{{item.title}}</h1>

           {% if item.article_image.url %}
           <img src="{{item.article_image.url}}" class="img-responsive" alt="Image">
           {% else %}
           <p></p>
           {% endif %}
           <h2> {{news_item.title}} </h2>
           <hr>
           <p> {{news_item.post|truncatechars:400}} <a href="/image/{{item.id}}" class="btn btn-link">Read more</a></p>
               <p class="small"> Category:</p>

               {% for category in item.category.all%}

                    <span class="cat-tag">{{ category.category_type }} </span>
                    {% endfor %}

                    <h4>Image tags: </h4>
                {% for tag in item.tag.all %}
                    <span class="cat-tag">{{ tag.tags }} </span>
                    {% endfor %}

           <p> {{news_item.editor}} </p>
           <p class="small">Posted on: {{item.pub_date}} </p>
       </div>
       {% empty %}
       <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
           <h2> No Articles today </h2>
       </div>
       {% endfor %}        
   </div>
</div>
{% endblock %}

